@use "./color" as *;

nav {
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2%;
  //   display: none;
  a.nav-logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #1e8c55;
    text-decoration: none;
    img {
      max-width: 8%;
      height: 10%;
      border: none;
      border-radius: 50%;
    }
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 1rem;
      flex: 1;
      display: flex;

      text-align: center;

      a {
        color: #333;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition: color 0.3s ease;
        width: 100%;
        font-weight: 500;
        font-size: 1.1rem;
        
        &:hover {
          color: #1e8c55;
        }
      }
    }
  }
}
